{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>graphui</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    {% comment %}
    <link href="/css/app.84aba4e9.css" rel="preload" as="style" />
    {% endcomment %}
    <link href="{% static 'css/app.84aba4e9.css' %}" rel="preload" as="style" />
    {% comment %}
    <link href="/css/chunk-vendors.65705af1.css" rel="preload" as="style" />
    {% endcomment %}
    <link
      href="{% static 'css/chunk-vendors.65705af1.css' %}"
      rel="preload"
      as="style"
    />
    {% comment %}
    <link href="/js/app.c9bff224.js" rel="preload" as="script" />
    {% endcomment %}
    <link href="{% static 'js/app.c9bff224.js' %}" rel="preload" as="script" />
    {% comment %}
    <link href="/js/chunk-vendors.0713db21.js" rel="preload" as="script" />
    {% endcomment %}
    <link
      href="{% static 'js/chunk-vendors.0713db21.js' %}"
      rel="preload"
      as="script"
    />
    {% comment %}
    <link href="/css/chunk-vendors.65705af1.css" rel="stylesheet" />
    {% endcomment %}
    <link
      href="{% static 'css/chunk-vendors.65705af1.css' %}"
      rel="stylesheet"
    />
    {% comment %}
    <link href="/css/app.84aba4e9.css" rel="stylesheet" />
    / {% endcomment %}
    <link href="{% static 'css/app.84aba4e9.css' %}" rel="stylesheet" />
  </head>
  <body>
    <noscript
      ><strong
        >We're sorry but graphui doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      ></noscript
    >
    <div id="app"></div>
    {% comment %}
    <script src="/js/chunk-vendors.0713db21.js"></script>
    {% endcomment %}
    <script src="{% static 'js/chunk-vendors.0713db21.js' %}"></script>
    {% comment %}
    <script src="/js/app.c9bff224.js"></script>
    {% endcomment %}
    <script src="{% static 'js/app.c9bff224.js' %}"></script>
  </body>
</html>
